# Note that not all variables here might be in use for your selected configuration
# When adding additional env variables, the schema in /env/schema.mjs should be updated accordingly

# Prisma
DATABASE_URL=
SLAVE_DATABASE_URl=

NODE_ENV=

# Next Auth
NEXTAUTH_SECRET=
NEXTAUTH_URL=

# Next Auth Google Provider
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Next Auth Email Provider
EMAIL_SERVER=
EMAIL_FROM=

TOKEN_SECRET=

# ADMIN EMAILS
ADMIN_EMAILS=

# AWS
S3_UPLOAD_KEY=
S3_UPLOAD_SECRET=
S3_UPLOAD_BUCKET=
S3_UPLOAD_REGION=

# Stripe
NEXT_PUBLIC_STRIPE_API_KEY=
STRIPE_SECRET_KEY=

# Meilisearch
MEILISEARCH_HOST=
MEILISEARCH_KEY=

# Redis
REDIS_URL=
